.bookmark-app{
  font-family: 'Roboto';
  font-size:1em;
}

.bookmark-app .MuiCard-root{
  cursor: pointer;  
  margin: 15px;
  padding: 2px 10px 5px;
}

.bookmark-app .MuiCard-root h4{
  padding-top: 8px;
  margin: 0 0 4px 0;
}

.bookmark-app .MuiCard-root:hover{
  background-color: rgba(197, 212, 218,.2);
}

.bookmark-app .flex-row{
  display: flex;
  align-items: center;
  position: relative;
}

.bookmark-app button.MuiButton-root{
  color:#ccc;
}
.bookmark-app .record button.MuiButton-root{
  color:#ccc;
  position: absolute;
  right: 0px;
  top: 4px;
  min-width:25px;
}

.bookmark-app button.MuiButton-root:hover{
  color:#1976d2;
}

.bookmark-app .add-area{
  padding: 10px;
}

.bookmark-app .add-area button.MuiButton-root{
  width:100%;
}
.bookmark-app .add-area button.MuiAutocomplete-clearIndicator{
  display:none;
}

.bookmark-app .hidden{
  display:none;
}